/*@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Cookie|Dancing+Script|Work+Sans');*/
/*@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');*/
/*
font-family: 'Work Sans', sans-serif;
font-family: 'Dancing Script', cursive;
font-family: 'Cookie', cursive;
font-family: 'Amatic SC', cursive;
*/

@font-face {
    font-family: Lato;
    src: url(../fonts/Lato-Regular.ttf);
}
@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway-Regular.ttf);
}

/*
Raleway-Regular.ttf
Lato-Regular.ttf
*/