@mixin body-font() {
  font-family: 'Raleway', sans-serif;
}

@mixin heading-font() {
  font-weight: 700;
  font-family: 'Lato', sans-serif;
}
@mixin heading-font-bold() {
  /*font-weight: 700;*/
  font-family: 'Raleway-Bold', sans-serif;
}

/*
font-family: 'Lato', sans-serif;
font-family: 'Raleway', sans-serif;
*/